@{
    ViewData["Title"] = "Home Page";
}

@* Ajax: SaleObject.ListProductsWithStock | productForSale.js *@
<div id="divForSale" class="row"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js\productForSale.js"></script>
